@if (Html.ValidationSummary() != null) {
    <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#88;</button>
        <i class="fa fa-times-circle"></i>&nbsp;&nbsp;@T("Please correct the errors and try again.")
        <p>@Html.ValidationSummary()</p>
    </div>
}
<h1>@Html.TitleForPage(T("Lost Password").ToString())</h1>
<div class="panel panel-default">
   @using (Html.BeginFormAntiForgeryPost())
   {
    <div class="panel-heading">
        <h2>@T("Account Information")</h2>
    </div>
            <p><small>@T("Please enter your username or email address.")</small></p>
            <p><small>@T("You will receive a link to create a new password via email.")</small></p>            
            <div class="panel-body">
            <div class="form-group">
                <label for="username">@T("Username or E-mail:")</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="icon s7-users"></span></span>
                    @Html.TextBox("username", null, new { @class = "form-control text medium validate[required,ajax[ajaxUserNameEmail]]", placeholder="Username or Email" })                    
                </div>
                @Html.ValidationMessage("username")
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">@T("Send Request")</button>
            </div>
        </div>
}
</div>