@model Orchard.Comments.Models.CommentPart
<div class="who">
    <label id="add-comment">@T("Add a Comment")</label>
    @if (WorkContext.CurrentUser == null)
    {
        <div class="container-fluid center-block">
            <div class="row col-md-offset-1">
                <div class="form-group col-xs-12 col-md-12 col-lg-3">
                    @Html.LabelFor(m => m.Author, T("Name"))
                    <div class="input-group">
                        <span class="input-group-addon icon s7-user" id="basic-addon33"></span>
                        @Html.TextBoxFor(m => m.Author, new { @class = "required form-control", placeholder = "Your Name (required)", required = "required", type = "text" })
                    </div>
                </div>
                <div class="form-group col-xs-12 col-md-12 col-lg-3">
                    @Html.LabelFor(m => m.Email, T("Email"))
                    <div class="input-group">
                        <span class="input-group-addon icon s7-mail" id="basic-addon20"></span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "required form-control", placeholder = "Email (required)", required = "required", pattern = "[^ @]*@[^ @]*", type = "email" })
                    </div>
                </div>
                <div class="form-group col-xs-12 col-md-12 col-lg-3">
                    @Html.LabelFor(m => m.SiteName, T("Url"))
                    <div class="input-group">
                        <span class="input-group-addon icon s7-global" id="basic-addon21"></span>
                        @Html.TextBoxFor(m => m.SiteName, new { @class = "required form-control", placeholder = "Url with (http://)", pattern = "http?://.+", type = "url" })
                    </div>
                </div>
            </div>
        </div>
    }
    else {
        @Html.Hidden("Name", WorkContext.CurrentUser.UserName ?? "")
        @Html.Hidden("Email", WorkContext.CurrentUser.Email ?? "")
    }
</div>
@if (WorkContext.CurrentUser != null)
{ <h2 id="commenter">@if (WorkContext.CurrentUser != null)
{ @T("Hi, {0}!", Convert.ToString(Html.ItemDisplayText(WorkContext.CurrentUser)))}</h2> }
<div class="what">
    <div>
        <h2><label for="Comments_CommentText">Comment</label></h2>
        <div class="col-xs-10 col-md-10 col-lg-11">
             <textarea class="comment-textarea  text large form-control" cols="20" id="Comments_CommentText" name="Comments.CommentText" rows="8" placeholder="Add a Comment (required)"></textarea>                
        </div>
    </div>
    <div>
        @Html.HiddenFor(m => m.CommentedOn)
        @Html.HiddenFor(m => m.RepliedOn)
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
        <div class="am-checkbox">
            <input class="required" required type="checkbox" id="terms" name="terms" />
            <label for="terms">Please indicate that you accept the Terms and Conditions!</label>
        </div>
    </div>    
</div>
<input id="website" value="1234" class="hidden">
<script type="text/javascript" defer="defer"> 
 jQuery(function($){  
    document.getElementById("terms").setCustomValidity("Please indicate that you accept the Terms and Conditions");
    $('form').submit(function() {
        if ($('input#website').val().length !== 0) {
            return false;
        }
    });
  }); 
</script>
