@using Orchard.ContentManagement;
@using Orchard.Tags.ViewModels;
@using Orchard.Utility.Extensions;

@{
    var blogPost = Model.ContentItem;
    Layout.Title = Model.ContentItem.TitlePart.Title;
}

<article id="post-@blogPost.Id">
    <header class="group">
        <div id="header">
            <h2><a href="@Url.ItemDisplayUrl((IContent)blogPost)" rel="nofollow"><span itemprop="name">@blogPost.TitlePart.Title</span></a></h2>
        </div>
    </header>
    <div class="row metadata">     
        <div class="col-md-6">
            <div class="pull-left">
                @if (Model.Tags.Items.Count > 0 && ((IEnumerable<ShowTagViewModel>)Model.Tags.Items[0].Tags).Any()) {
                    <i class="icon s7-ticket"></i>@Display(Model.Tags)
                }
                <i class="icon s7-users"></i>&nbsp;<a itemprop="url" href="@Href("~/profile/")@blogPost.CommonPart.Owner.UserName">@blogPost.CommonPart.Owner.UserName</a>
        </div>
        </div>
         <div class="col-md-6">
            <div class="pull-right">
                <span><i class="icon s7-comment"></i>
                <a href="#comments-link">@Display(Model.CommentsCount)</a></span>                
                <span itemprop="datePublished"><i class="icon s7-date"></i>
                @blogPost.CommonPart.CreatedUtc.ToLocalTime().ToString("MMMM d, yyyy")</span>
            </div>
        </div>
    </div>    
    @Display(Model.Summary)
</article>
@Display(Model.Footer)
